# URL do servidor backend (Ex: https://meu-backend.render.com)
# Deixe vazio se o frontend e backend estiverem no mesmo domínio (como no Cloud Run)
VITE_API_URL=

# Token do Bot do Telegram (Necessário apenas no servidor)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
